<mat-grid-list [cols]="breakpoint" rowHeight="1:1" (window:resize)="onResize($event)" style="height: 50em;">
    <mat-grid-tile *ngFor="let console of consolesAny">
        <mat-card class="card">
            <button mat-mini-fab class="delbutton" color=warn matTooltip="Supprimer cette console" (click)="deleteConsole(console.id)">
                <mat-icon>close</mat-icon>
            </button>
            <mat-card-header>
                <div mat-card-avatar> <img mat-card-image src="{{console.image}}"
                        alt="Image introuvable" style="background-size: cover; width: 150%;"></div>
                <mat-card-title>{{ console.nom }}</mat-card-title>
                <mat-card-subtitle>{{ console.constructeur }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>Développeur : {{ console.developpeur }}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Durée de vie : {{ console.dureeDeVie }}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Unités vendues : {{ console.nbVendues }}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Processeur : {{ console.bits }} bits</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Meilleure vente : {{ console.meilleureVente }}</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
            </mat-card-content>
            <mat-card-actions>
                <button color=primary mat-button><mat-icon>videogame_asset</mat-icon> Voir les jeux de la console</button>
                <button color=accent mat-button (click)="openEditDialog(console)"><mat-icon>edit</mat-icon> Modifier la console</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<button mat-fab class="addbutton" color=primary matTooltip="Ajouter une nouvelle console" (click)="openAddDialog()">
    <mat-icon>add</mat-icon>
</button>