.addbutton{
    position: sticky;
    left: 95%;
    bottom: 1em;
    height: 6em;
    width: 6em;
}

.delbutton{
    position: absolute;
    right: 0;
    top: 0;
}

.card {
    min-width: 425px;
    max-width: 425px;
  }
  
.header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}