<div class="searchForm">
    <form>
        <mat-form-field>
            <mat-label>jeu ou développeur</mat-label>
            <input matInput placeholder="Ex. PS4" id="searchString" (keydown)="onKeydown($event)">
        </mat-form-field>
    </form>
    <button color=primary mat-mini-fab matTooltip="Rechercher" (click)="search()" class="searchButton">
        <mat-icon>search</mat-icon>
    </button>
</div>
<br>

<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<mat-grid-list [cols]="breakpoint" rowHeight="1:1" (window:resize)="onResize($event)" style="height: 50em;">
    <mat-grid-tile *ngFor="let jeux of jeuAny" class="cantexceed">
        <div cdkDrag cdkDragBoundary=".cantexceed" style="cursor: grab;">
            <mat-card class="card">
                <button mat-mini-fab class="delbutton" color=warn matTooltip="Supprimer ce jeu"
                    (click)="deletejeu(jeux.id)">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-card-header>
                    <div mat-card-avatar> <img mat-card-image src="{{jeux.image}}" alt="Image introuvable"
                            style="padding: 5px; height: 150%; width: 150%; border-radius: 50%;"></div>
                    <mat-card-title>{{ jeux.nom }}</mat-card-title>
                    <mat-card-subtitle>{{ jeux.editeur }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content *ngIf="desktop">
                    <mat-list>
                        <mat-list-item>Développeur : {{ jeux.developpeur }}</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Jaquette : {{ jeux.jaquette | parseBool }}</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Fonctionnel : {{ jeux.fonctionnel | parseBool }}</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Note : {{ jeux.note }} /20</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>valeur estimée : {{ jeux.valeur }} €</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>jeu multijoueur : {{ jeux.multijoueur | parseBool}}</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>plateformes : {{ jeux.plateformes }}</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>genre : {{ jeux.genre }}</mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                </mat-card-content>
                <mat-card-actions>
                    <button color=accent mat-button (click)="openEditDialog(jeux)">
                        <mat-icon>edit</mat-icon> Modifier le jeu
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-grid-tile>
</mat-grid-list>


<button mat-fab class="addbutton" color=primary matTooltip="Ajouter un nouveau jeu" (click)="openAddDialog()">
    <mat-icon>add</mat-icon>
</button>